<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        	
        <p>From 2021-2024, I undertook the Graduate Diploma in Applied Statistics with the University of New England, Australia. During this course, I completed a remote sensing research project in which I used a 36-year Landsat NDVI time series to investigate the response of vegetation to ecological disturbances in the Blue Mountains National Park, NSW. Since graduating from this course, I have developed my skills in remote sensing for land cover mapping and change detection through volunteer work with <a href="https://birdlife.org.au/">Birdlife Australia</a>. I am currently pursuing a career as a freelance data analyst specialising in remote sensing and geospatial analysis.</p>
		
		<div class="text-center">
			<a class="btn btn-lg btn-outline" href="doc/MDear Resume.pdf">
				<i class="fa fa-download"> &nbsp; </i>
				Download Full Resume
			</a>
		</div>
		
      </div>
      </div>
    </div>
  </div>
</section>
