<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
	  
        <p>After completing the Graduate Diploma of Education (Secondary Mathematics) with the University of New England, Australia in 2004, I worked until December 2023 as a teacher of mathematics with the NSW Department of Education. In my teaching career I completed numerous data analysis projects related to student achievement, attendance, and well being, which provided insights used to inform decision-making by school managers. I also helped establish a school Data Team which included the development of training materials for teachers and the delivery of professional development workshops.</p>
		
        <p>From 2021-2024, I undertook the Graduate Diploma in Applied Statistics with the University of New England, Australia. During this course, I completed a remote sensing research project in which I used a 36-year Landsat NDVI time series to investigate the response of vegetation to ecological disturbances in the Blue Mountains National Park, NSW. Since graduating from this course, I have developed my skills in remote sensing for land cover mapping and change detection through volunteer work with <a href="https://birdlife.org.au/">Birdlife Australia</a>. I continue to develop my skills in other areas of data analysis by completing professional development courses such as "Databases and SQL for Data Science with Python" (IBM) and "Introduction to Git and Github" (Google).</p>
		
        <p>I am currently working part-time with the NSW Department of Education as a teacher and pursuing a career as a freelance data analyst.</p>
      </div>
      </div>
    </div>
  </div>
</section>
