<!-- Services Section -->
<section class="success" id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Services</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>
		I provide contract services to the private and public sectors in land cover visualisation,  classification, change detection, and change monitoring using remote sensing and geospatial datasets. My services include the production of written reports and the presentation of study results at workshops. A sample report can be downloaded from the following link.
		</p>
	  
		<div class="text-center">
			<a class="btn btn-lg btn-outline" href="doc/Hunter Estuary KBA Change Detection Sep 2003 to Sep 2023.pdf">
				<i class="fa fa-download"> &nbsp; </i>
				Download Sample Report
			</a>
		</div>
	  
		<br>
		<p>
		Please use the contact form on this page if you would like to discuss how I can contribute to your project or your organisation.
		</p>
		
		<div class="text-center">
			<a class="btn btn-lg btn-outline" href="#contact">Contact</a>
		</div>
		
      </div>
    </div>
  </div>
</section>
