<!-- Services Section -->
<section class="success" id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Services</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>
		<ul>
			<li> Land cover visualisation
			<li> Land cover classification
			<li> Land cover change detection and change quantification
		</ul>
		</p>
      </div>
      </div>
    </div>
  </div>
</section>
